<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
	<div id="jumbo2"class="jumbotron text-center text-white">
	<h1>ABOUT US</h1>
	<p>
	  A SIMPLE PROVEN SYSTEM OF WATER PURIFICATION
	</p>
	</div>
	<h1>About us</h1>
	<p>Purified Water Management is established by water treatment professionals
	 in the year 2020 in Pune.</p>
	 <p>From a mere 80 bottles a day then to over 500 bottels and jars per day in 2022,we have achieved unprecedented growth in the highly unorganised and fragmented industry of manufacturing and supply of packaged drinking water across India.
	 </p>
	 
	<!--  <p>-----------------------------------------------------------------------------------</p> -->
	
	<div class="col-sm-12 form-group">
         
          <a th:href="@{/contact}">
         <button class="btn btn-success" type="submit">Contact us</button>
         
         </a>

           <a class="btn btn-outline-primary" type="submit" style="padding: 6px 20px"onclick="history.back()">Back</a>
		</div>
	<!-- <h2>Contact Us</h2>
	
	<div class="container-fluid bg-grey">
  
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Pune</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 7030235643</p>
      <p><span class="glyphicon glyphicon-envelope"></span> admin@watergroup.in</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        
        </div>
      </div>
    </div>
  </div>
</div> -->
	
	</section>
</body>
</html>